<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all question</title>
    <style>
        table,
        tr,
        th,
        td {
            border: 3px solid greenyellow;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
</head>

<body>
   <a href="/examapp/giveaddquestion/"> Add Question</a> &nbsp; &nbsp; 
    <a href="/examapp/giveviewquestion/">View Question</a> &nbsp; &nbsp; 
    <a href="/examapp/giveupdatequestion/"> Update Question</a> &nbsp; &nbsp; 
    <a href="/examapp/givedeletequestion/"> Delete Question</a> &nbsp; &nbsp;
    <a href="/examapp/givemeshowallquestion/"> Show All Questions</a> &nbsp; &nbsp;
    <a href="/examapp/">Home Page</a>

    <hr>
    <table>
        <tr>
            <th>Question no</th>
            <th>Question text</th>
            <th>Option_1</th>
            <th>Option_2</th>
            <th>Option_3</th>
            <th>Option_4</th>
            <th>Subject</th>
            <th>Answer</th>
        </tr>
        {% for qd in qdata %}
        <tr>
            <td>{{qd.qno}}</td>
            <td>{{qd.qtext}}</td>
            <td>{{qd.op1}}</td>
            <td>{{qd.op2}}</td>
            <td>{{qd.op3}}</td>
            <td>{{qd.op4}}</td>
            <td>{{qd.subject}}</td>
            <td>{{qd.ans}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>